asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.1
cbor2==5.4.1
certvalidator==0.11.1
cffi==1.14.6
cose==0.9.dev8
cryptography==3.4.7
ecdsa==0.17.0
numpy==1.21.1
oscrypto==1.2.1
Pillow==8.3.1
pycparser==2.20
pyzbar==0.1.8
six==1.16.0
zbar-py==1.0.4
