asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.1
cbor2==5.4.1
certifi==2021.5.30
certvalidator==0.11.1
cffi==1.14.6
charset-normalizer==2.0.4
cose==0.9.dev8
cryptography==3.4.7
cryptojwt==1.5.2
ecdsa==0.17.0
idna==3.2
numpy==1.21.1
oscrypto==1.2.1
Pillow==8.3.1
pycparser==2.20
pyzbar==0.1.8
readerwriterlock==1.0.8
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zbar-py==1.0.4
